@import '../node_modules/bulma/bulma.sass';

* {
  box-sizing: border-box;
}

body{
  margin: 0 auto;
  max-width: 50rem;
  line-height: 1.5;
  padding: 4rem 1rem;
  color: #555
}

h2 {
  color: #333
}

p {
  margin-top: 2rem;
}